<div class="container-fluid">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <br>
            <div class="row g-3">
                <div *ngFor="let i of myTweets" class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <div class="card text mb-3">
                        <div class="card-header">{{i.name}}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{i.message}}</h5>
                            <p class="card-text">{{i.postdate}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
